SMTP_USER=theo@gregory.sh
SMTP_PASS=xxxx-xxxx-xxxx-xxxx
SMTP_HOST=smtp.mail.me.com
SMTP_PORT=587
FROM_NAME=Blog | gregory.sh
FROM_EMAIL=blog@gregory.sh
KV_NAMESPACE_ID=3a7acd46675b43909b1e8156093d44a7
